.Nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  height: 80px;
}
/* class Nav-menu =============================================== */
.Nav-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}
.Premium {
  height: 30px;
  width: 130px;
}
.fa-bars {
  font-size: 25px;
  color: white;
}
.Btn-menu {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: black;
  cursor: pointer;
}
.Btn-menu:hover {
  background-color: grey;
}
/* class Nav-Search =============================================== */
.Nav-Search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Search {
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 500px;
  background-color: dimgray;
}
.Input-Search {
  padding: 10px;
  width: 430px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: black;
  color: white;
}
.Input-Search:focus {
  outline: none;
  border: 1px solid dodgerblue;
}
.fa-magnifying-glass {
  color: white;
  margin-left: 15px;
}
.fa-microphone {
  color: white;
  font-size: 20px;
}
.Btn-microphone {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: dimgray;
  margin-left: 10px;
  cursor: pointer;
}
.Btn-microphone:hover {
  background-color: grey;
}
/* class Profile =============================================== */
.Profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: 20px;
}
.fa-square-plus {
  color: white;
  font-size: 20px;
}
.Btn-plus {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: black;
  cursor: pointer;
}
.Btn-plus:hover {
  background-color: grey;
}
.fa-bell {
  color: white;
  font-size: 20px;
}
.Btn-fa-bell {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: black;
  cursor: pointer;
}
.Btn-fa-bell:hover {
  background-color: grey;
}
.Img-Profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
/* class Container =============================================== */
.Container {
  position: absolute;
  display: flex;
  top: 80px;
  width: 100%;
  height: 91.2%;
}
/* class Card =============================================== */
.List {
  margin-left: 20px;
  margin-top: 60px;
  margin-right: 20px;
}
.Card {
  width: 100vw;
}
.List-Card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.List-Warp-Card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 350px;
  height: 350px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
}
.IMG-Warp-Card {
  height: 200px;
  width: 350px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.Text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.Text h2 {
  font-size: 17px;
}
.Text p {
  font-size: 12px;
}
.Text li {
  font-size: 12px;
}
.IMG-Text {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.List-Text {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  color: white;
  margin-top: 10px;
}
.Text-Watching {
  display: flex;
}
.Text-Watching li {
  margin-left: 10px;
}
.fa-ellipsis-vertical {
  font-size: 25px;
}
.btn-list-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
.btn-list-dropdown:hover {
  background-color: black;
  border: 1px solid white;
}
